# Goal
- Look at the [kaggle page](https://www.kaggle.com/laudanum/footballdelphi)
    - put into a SQL DB
- Information Needed
    - Name of the team
    - Total # of goals scored by the 2011 season
    - Total # of wins of the 2011 season team
    - Histogram viz of the team's win/loss for the 2011 season
    - Team's win percentage on the days it was raining during the game in 2011 season
    

# Getting Weather Data
* This is for the last sub-note taking mark mark under "Information Needed"
* Need weather Data to find the team's win percentage on rainy days

- Use [DarkSky API](https://darksky.net/dev) to get historical weather data
    - Use weather in Berlin, Germany as a proxy
    * If it was raining in Berlin on a game day, then count that as a rain game

In [448]:
import pandas as pd
import requests
import sqlite3
import seaborn as sns

In [465]:
# Creating a cursor for the soccer SQL DB
conn = sqlite3.connect("Data/soccer.sqlite")
cur = conn.cursor()

# Sum of the home team's home goals, and the away team's away goals
soccer_df = pd.read_sql_query("""
SELECT Date, HomeTeam, AwayTeam, SUM(FTAG) as away_goals, SUM(FTHG) as home_goals, FTR as who_won
FROM Matches
WHERE season LIKE 2011
GROUP BY HomeTeam
""", conn)

# GOLAS TOTAL

In [260]:
# Finding the total score for TeamNames
goals_total_df = pd.read_sql_query("""
SELECT TeamName, SUM(FTHG + FTAG) as goals_total
FROM Unique_Teams ut 
LEFT JOIN Teams_in_Matches 
USING(Unique_Team_ID)
LEFT JOIN Matches
USING(Match_ID)
WHERE Season LIKE 2011
GROUP BY TeamName -- no dups
""", conn)

# HOME AND AWAY WINS

In [276]:
home_wins_df = pd.read_sql_query("""
SELECT HomeTeam as team, COUNT(FTR) as total_home_wins
FROM Matches
WHERE Season LIKE 2011 AND FTR = "H"
GROUP BY HomeTeam -- no dups
""", conn)

In [ ]:
# Finding total wins for away teams
away_wins_df = pd.read_sql_query("""
SELECT AwayTeam as team, COUNT(FTR) as total_away_wins
FROM Matches
WHERE Season LIKE 2011 AND FTR = "A"
GROUP BY AwayTeam -- no dups
""", conn)

# HOME AND AWAY DRAWS

In [344]:
away_draws_df = pd.read_sql_query("""
SELECT AwayTeam as team, COUNT(FTR) as total_away_draws
FROM Matches
WHERE Season LIKE 2011 AND FTR = "D"
GROUP BY AwayTeam -- no dups
""", conn)

In [345]:
home_draws_df = pd.read_sql_query("""
SELECT HomeTeam as team, COUNT(FTR) as total_home_draws
FROM Matches
WHERE Season LIKE 2011 AND FTR = "D"
GROUP BY HomeTeam -- no dups
""", conn)

# HOME AND AWAY LOSS

In [349]:
# Finding home team total loss
home_loss_df = pd.read_sql_query("""
SELECT HomeTeam as team, COUNT(FTR) as home_loss
FROM Matches
WHERE Season LIKE 2011 AND FTR = "A"
GROUP BY HomeTeam -- no dups
""", conn)

In [370]:
# Finding away team total loss
away_loss_df = pd.read_sql_query("""
SELECT AwayTeam as team, COUNT(FTR) as away_loss
FROM Matches
WHERE Season LIKE 2011 AND FTR = "H"
GROUP BY AwayTeam -- no dups
""", conn)

# TOTAL LOSS

In [421]:
total_loss = away_loss_df.away_loss + home_loss_df.home_loss

In [443]:
total_loss = pd.DataFrame(total_loss)
total_loss.head()

      0
0  15.0
1  10.0
2  14.0
3  12.0
4   7.0

# TEAM INFO ON TEAM NAMES AND WINS AND LOSS

In [444]:
team_info = pd.merge(left=away_wins_df, right=home_wins_df)

In [445]:
team_wins = team_info.sum(axis=1)

In [446]:
team_info["team_wins"] = team_wins

In [447]:
team_info['total_loss'] = total_loss
team_info

,team,total_away_wins,total_home_wins,team_wins,total_loss
0,Aachen,2,4,6,15.0
1,Arsenal,9,12,21,10.0
2,Aston Villa,3,4,7,14.0
3,Augsburg,2,6,8,12.0
4,Bayern Munich,9,14,23,7.0
5,Blackburn,2,6,8,23.0
6,Bochum,3,7,10,17.0
7,Bolton,6,4,10,22.0
8,Braunschweig,4,6,10,9.0
9,Chelsea,6,12,18,10.0
10,Cottbus,4,4,8,15.0
11,Dortmund,11,14,25,3.0
12,Dresden,4,8,12,13.0
13,Duisburg,2,8,10,15.0
14,Ein Frankfurt,9,11,20,6.0
15,Erzgebirge Aue,3,5,8,15.0
16,Everton,5,10,15,12.0
17,FC Koln,3,5,8,20.0
18,Fortuna Dusseldorf,5,11,16,4.0
19,Frankfurt FSV,4,3,7,13.0
20,Freiburg,4,6,10,14.0
21,Fulham,4,10,14,14.0
22,Greuther Furth,6,14,20,4.0
23,Hamburg,5,3,8,14.0
24,Hannover,2,10,12,17.0
25,Hansa Rostock,2,3,5,20.0
26,Hertha,3,4,7,11.0
27,Hoffenheim,6,4,10,12.0
28,Ingolstadt,2,6,8,20.0
29,Kaiserslautern,2,2,4,15.0
30,Karlsruhe,1,8,9,18.0
31,Leverkusen,7,8,15,9.0
32,Liverpool,8,6,14,11.0
33,M'gladbach,8,9,17,14.0
34,Mainz,2,7,9,8.0
35,Man City,10,18,28,10.0
36,Man United,13,15,28,6.0
37,Munich 1860,7,10,17,12.0
38,Newcastle,8,11,19,15.0
39,Norwich,5,7,12,11.0
40,Nurnberg,6,6,12,16.0
41,Paderborn,8,9,17,8.0
42,QPR,3,7,10,16.0
43,Schalke 04,7,13,20,11.0
44,St Pauli,6,12,18,10.0
45,Stoke,4,7,11,16.0
46,Stuttgart,5,10,15,11.0
47,Sunderland,4,7,11,13.0
48,Swansea,4,8,12,15.0
49,Tottenham,7,13,20,11.0
50,Union Berlin,3,11,14,20.0
51,Werder Bremen,3,8,11,16.0
52,West Brom,7,6,13,12.0
53,Wigan,6,5,11,23.0
54,Wolfsburg,3,10,13,NaN
55,Wolves,2,3,5,NaN

# TEAM INFO FOR DRAW

In [ ]:
# Histogram of the team's win/loss for the 2011 season