# Mod 2 Assessment

### Congratulations on making it to your second assessment! Just a few reminders before you continue:
- This should only take an hour, so be sure to manage your time effectively.
- Read the instructions carefully for _specified variable names_.
- Check your progress by running **`make tests`** in the terminal, </br>
  OR **if you have a PC**, manually run these lines in the terminal:
  - `jupyter nbconvert --to script mod2_assessment.ipynb`
  - `python -m pytest --disable-pytest-warnings -v`

If there is any confusion on a question, please ask for clarification from a coach. </br>Though we can't give you the answer, we can help clear up any misunderstandings and get you back on track.

In [78]:
# You'll need these imports to start.
import pymongo
from bson.json_util import loads
from collections import Counter

# put all of your additional imports here:
import pandas as pd
import sqlite3 
import requests
from bs4 import BeautifulSoup
import json

## Section 1: SQL (20 Minutes)
There is a sqlite3 database in `assets/books.db`. The SQL to create this is also in `assets/books.sql`; if you want to run it manually you can also import this using https://sqliteonline.com/, or run the SQL file directly.  Both have the same schema and data.

The schema has three tables. You can explore the schema in the file posted above.  Please answer the following questions.

Connect to the database using sqlite3. <br/>
Assign `conn` to the sqlite3 connection <br/>
Assign `cur`  to the connection's cursor object

In [79]:
conn = sqlite3.connect("books-Copy1.db")
cur = conn.cursor()

#### Querying the DB:

1. How many pages are in the book "Nine Stories"?

In [80]:
# Assign `answer_1` to your final answer

answer_1 = cur.execute("""
SELECT title, pages FROM book 
WHERE title LIKE "Nine Stories" """).fetchall()

answer_1

[('Nine Stories', 600)]

2. How many authors are from the USA?

In [81]:
# Assign `answer_2` to your final answer
answer_2 = cur.execute("""
SELECT COUNT(author_id) FROM author
WHERE country LIKE "USA" """).fetchall()

answer_2

[(6,)]

3. How many authors does the book "Professional ASP.NET 4.5 in C# and VB" have?

In [82]:
# Assign `answer_3` to your final answer
answer_3 = cur.execute("""
SELECT COUNT(author_id) FROM book 
JOIN book_author ON book.book_id = book_author.book_id
WHERE title LIKE "Professional ASP.NET 4.5 in C# and VB" """).fetchall()

answer_3

[(5,)]

4. How many pages total have been written by non-American authors?

In [83]:
# Assign `answer_4` to your final answer
answer_4 = cur.execute("""
SELECT SUM(pages) FROM book
JOIN author
WHERE country NOT LIKE "USA" """).fetchall()

answer_4

[(65606,)]

## Section 2: Object Oriented Programming (10 Minutes)

### Creating a Class
1. Force every new instance of `WeWorkMember` to expect a value which is assigned to the `name` **attribute**.
1. Give every new instance of `WeWorkMember` a `caffeinated` **attribute** that is set to `False`. 
1. Give `WeWorkMember` an **instance method** called `caffeinate()` that prints out "Getting coffee!" and sets the `caffeinated` attribute to `True`.

In [84]:
class WeWorkMember:
    # Constructor that initializes the name and caffeine instance variables/attributes
    def __init__(self, name):
        self.name = name
        self.caffeinated = False
        
    # Instance method
    def caffeinate(self):
        print("Getting coffee!")
        self.caffeinated = True

In [85]:
member1 = WeWorkMember("Jack")

member1.caffeinate()
member1.caffeinated

Getting coffee!

True

### Inheriting from a Class

1. Have `Staff` and `Student` inherit all methods from `WeWorkMember`
1. Give `Staff` a **static method** called `cheer()` that prints out "Goooooooo Flatiron Students!"
1. Give `Students` a **class method** called `learn()` that takes in an integer and returns that number +1

In [86]:
class Staff(WeWorkMember):
    
    @staticmethod
    def cheer():
        print("Goooooooo Flatiron Students!")

class Student(WeWorkMember):
    
    @classmethod
    def learn(cls, num):
        cls.num = int(num)
        return cls.num + 1

In [87]:
st1 = Student("Jack")
st1.caffeinate()
print(st1.caffeinated)
print(st1.learn(50))

Getting coffee!
True
51

## Section 3: APIs & Web Scraping
### APIs (10 Minutes)
Using the API about Pokemon, grab the names of the **first 100 pokemon** the API returns.

API: https://pokeapi.co/api/v2/pokemon </br>
Docs: https://pokeapi.co/docs/v2.html#pokemon-section

 - Assign `pokemon_resp` to the response of the API request.
 - Ensure the request only returns the first 100 records
     - note the documentation can be messy, but a simple **command + F** can help us find how to specify the **limit**
     - the api by default will display the first 20 entries. We want the first 100 entries
 - Do the aggregation in pure Python, Pandas, or SQL -- whatever's easiest for you

In [151]:
record = {"limit":100}
pokemon_resp = requests.get("https://pokeapi.co/api/v2/pokemon", record)
print(pokemon_resp.text)

{"count":964,"next":"https://pokeapi.co/api/v2/pokemon?offset=100&limit=100","previous":null,"results":[{"name":"bulbasaur","url":"https://pokeapi.co/api/v2/pokemon/1/"},{"name":"ivysaur","url":"https://pokeapi.co/api/v2/pokemon/2/"},{"name":"venusaur","url":"https://pokeapi.co/api/v2/pokemon/3/"},{"name":"charmander","url":"https://pokeapi.co/api/v2/pokemon/4/"},{"name":"charmeleon","url":"https://pokeapi.co/api/v2/pokemon/5/"},{"name":"charizard","url":"https://pokeapi.co/api/v2/pokemon/6/"},{"name":"squirtle","url":"https://pokeapi.co/api/v2/pokemon/7/"},{"name":"wartortle","url":"https://pokeapi.co/api/v2/pokemon/8/"},{"name":"blastoise","url":"https://pokeapi.co/api/v2/pokemon/9/"},{"name":"caterpie","url":"https://pokeapi.co/api/v2/pokemon/10/"},{"name":"metapod","url":"https://pokeapi.co/api/v2/pokemon/11/"},{"name":"butterfree","url":"https://pokeapi.co/api/v2/pokemon/12/"},{"name":"weedle","url":"https://pokeapi.co/api/v2/pokemon/13/"},{"name":"kakuna","url":"https://pokeapi.co/api/v2/pokemon/14/"},{"name":"beedrill","url":"https://pokeapi.co/api/v2/pokemon/15/"},{"name":"pidgey","url":"https://pokeapi.co/api/v2/pokemon/16/"},{"name":"pidgeotto","url":"https://pokeapi.co/api/v2/pokemon/17/"},{"name":"pidgeot","url":"https://pokeapi.co/api/v2/pokemon/18/"},{"name":"rattata","url":"https://pokeapi.co/api/v2/pokemon/19/"},{"name":"raticate","url":"https://pokeapi.co/api/v2/pokemon/20/"},{"name":"spearow","url":"https://pokeapi.co/api/v2/pokemon/21/"},{"name":"fearow","url":"https://pokeapi.co/api/v2/pokemon/22/"},{"name":"ekans","url":"https://pokeapi.co/api/v2/pokemon/23/"},{"name":"arbok","url":"https://pokeapi.co/api/v2/pokemon/24/"},{"name":"pikachu","url":"https://pokeapi.co/api/v2/pokemon/25/"},{"name":"raichu","url":"https://pokeapi.co/api/v2/pokemon/26/"},{"name":"sandshrew","url":"https://pokeapi.co/api/v2/pokemon/27/"},{"name":"sandslash","url":"https://pokeapi.co/api/v2/pokemon/28/"},{"name":"nidoran-f","url":"https://pokeapi.co/api/v2/pokemon/29/"},{"name":"nidorina","url":"https://pokeapi.co/api/v2/pokemon/30/"},{"name":"nidoqueen","url":"https://pokeapi.co/api/v2/pokemon/31/"},{"name":"nidoran-m","url":"https://pokeapi.co/api/v2/pokemon/32/"},{"name":"nidorino","url":"https://pokeapi.co/api/v2/pokemon/33/"},{"name":"nidoking","url":"https://pokeapi.co/api/v2/pokemon/34/"},{"name":"clefairy","url":"https://pokeapi.co/api/v2/pokemon/35/"},{"name":"clefable","url":"https://pokeapi.co/api/v2/pokemon/36/"},{"name":"vulpix","url":"https://pokeapi.co/api/v2/pokemon/37/"},{"name":"ninetales","url":"https://pokeapi.co/api/v2/pokemon/38/"},{"name":"jigglypuff","url":"https://pokeapi.co/api/v2/pokemon/39/"},{"name":"wigglytuff","url":"https://pokeapi.co/api/v2/pokemon/40/"},{"name":"zubat","url":"https://pokeapi.co/api/v2/pokemon/41/"},{"name":"golbat","url":"https://pokeapi.co/api/v2/pokemon/42/"},{"name":"oddish","url":"https://pokeapi.co/api/v2/pokemon/43/"},{"name":"gloom","url":"https://pokeapi.co/api/v2/pokemon/44/"},{"name":"vileplume","url":"https://pokeapi.co/api/v2/pokemon/45/"},{"name":"paras","url":"https://pokeapi.co/api/v2/pokemon/46/"},{"name":"parasect","url":"https://pokeapi.co/api/v2/pokemon/47/"},{"name":"venonat","url":"https://pokeapi.co/api/v2/pokemon/48/"},{"name":"venomoth","url":"https://pokeapi.co/api/v2/pokemon/49/"},{"name":"diglett","url":"https://pokeapi.co/api/v2/pokemon/50/"},{"name":"dugtrio","url":"https://pokeapi.co/api/v2/pokemon/51/"},{"name":"meowth","url":"https://pokeapi.co/api/v2/pokemon/52/"},{"name":"persian","url":"https://pokeapi.co/api/v2/pokemon/53/"},{"name":"psyduck","url":"https://pokeapi.co/api/v2/pokemon/54/"},{"name":"golduck","url":"https://pokeapi.co/api/v2/pokemon/55/"},{"name":"mankey","url":"https://pokeapi.co/api/v2/pokemon/56/"},{"name":"primeape","url":"https://pokeapi.co/api/v2/pokemon/57/"},{"name":"growlithe","url":"https://pokeapi.co/api/v2/pokemon/58/"},{"name":"arcanine","url":"https://pokeapi.co/api/v2/pokemon/59/"},{"name":"poliwag","url":"https://pokeapi.co/api/v2/pokemon/60/"},{"name":"poliwhirl","url":"https://pokeapi.co/api/v2/pokemon/61/"},{"name":"poliwrath","url":"https://pokeapi.co/api/v2/pokemon/62/"},{"name":"abra","url":"https://pokeapi.co/api/v2/pokemon/63/"},{"name":"kadabra","url":"https://pokeapi.co/api/v2/pokemon/64/"},{"name":"alakazam","url":"https://pokeapi.co/api/v2/pokemon/65/"},{"name":"machop","url":"https://pokeapi.co/api/v2/pokemon/66/"},{"name":"machoke","url":"https://pokeapi.co/api/v2/pokemon/67/"},{"name":"machamp","url":"https://pokeapi.co/api/v2/pokemon/68/"},{"name":"bellsprout","url":"https://pokeapi.co/api/v2/pokemon/69/"},{"name":"weepinbell","url":"https://pokeapi.co/api/v2/pokemon/70/"},{"name":"victreebel","url":"https://pokeapi.co/api/v2/pokemon/71/"},{"name":"tentacool","url":"https://pokeapi.co/api/v2/pokemon/72/"},{"name":"tentacruel","url":"https://pokeapi.co/api/v2/pokemon/73/"},{"name":"geodude","url":"https://pokeapi.co/api/v2/pokemon/74/"},{"name":"graveler","url":"https://pokeapi.co/api/v2/pokemon/75/"},{"name":"golem","url":"https://pokeapi.co/api/v2/pokemon/76/"},{"name":"ponyta","url":"https://pokeapi.co/api/v2/pokemon/77/"},{"name":"rapidash","url":"https://pokeapi.co/api/v2/pokemon/78/"},{"name":"slowpoke","url":"https://pokeapi.co/api/v2/pokemon/79/"},{"name":"slowbro","url":"https://pokeapi.co/api/v2/pokemon/80/"},{"name":"magnemite","url":"https://pokeapi.co/api/v2/pokemon/81/"},{"name":"magneton","url":"https://pokeapi.co/api/v2/pokemon/82/"},{"name":"farfetchd","url":"https://pokeapi.co/api/v2/pokemon/83/"},{"name":"doduo","url":"https://pokeapi.co/api/v2/pokemon/84/"},{"name":"dodrio","url":"https://pokeapi.co/api/v2/pokemon/85/"},{"name":"seel","url":"https://pokeapi.co/api/v2/pokemon/86/"},{"name":"dewgong","url":"https://pokeapi.co/api/v2/pokemon/87/"},{"name":"grimer","url":"https://pokeapi.co/api/v2/pokemon/88/"},{"name":"muk","url":"https://pokeapi.co/api/v2/pokemon/89/"},{"name":"shellder","url":"https://pokeapi.co/api/v2/pokemon/90/"},{"name":"cloyster","url":"https://pokeapi.co/api/v2/pokemon/91/"},{"name":"gastly","url":"https://pokeapi.co/api/v2/pokemon/92/"},{"name":"haunter","url":"https://pokeapi.co/api/v2/pokemon/93/"},{"name":"gengar","url":"https://pokeapi.co/api/v2/pokemon/94/"},{"name":"onix","url":"https://pokeapi.co/api/v2/pokemon/95/"},{"name":"drowzee","url":"https://pokeapi.co/api/v2/pokemon/96/"},{"name":"hypno","url":"https://pokeapi.co/api/v2/pokemon/97/"},{"name":"krabby","url":"https://pokeapi.co/api/v2/pokemon/98/"},{"name":"kingler","url":"https://pokeapi.co/api/v2/pokemon/99/"},{"name":"voltorb","url":"https://pokeapi.co/api/v2/pokemon/100/"}]}

### Web Scraping (15 Minutes)
We want all of the **Music** books from [http://books.toscrape.com/](http://books.toscrape.com/).  Download the page of books in the *music* category and save it to the `book_resp` variable. Then use BeautifulSoup to convert each book on the page into a row in a Pandas dataframe.  The dataframe should consist of five columns:
- FULL book title
- book cover image link (relative is fine)
- book cost (as a float or decimal, not a string)
- inventory status (in stock?)
- **BONUS** Star rating (if you choose not to include this, just fill the column with `NaN`s.

The final result should be a dataframe of 13 rows (not counting header) and 5 columns (not counting index), named `book_df`.

- Set the response to a variable named `book_resp`
- Set the BeautifulSoup() object to a variable named `book_soup`
- Set the final dataframe object to a variable named `book_df`

In [110]:
page = requests.get(" http://books.toscrape.com/")
book_soup = BeautifulSoup(page.text, "html.parser")

In [117]:
# Getting book title
book_title = book_soup.find_all("h3", title="")
title = [title.find("a").get("title") for title in book_title]

In [119]:
# Getting book cover image link
book_image_link = book_soup.find_all("div", class_="image_container")
image_link = [link.find("img").get("src") for link in book_image_link]

In [130]:
# Getting the cost of books
book_cost = book_soup.find_all("p", class_="price_color")
price = [price.text.split("Â")[1] for price in book_cost]

In [136]:
# Getting the inventory status on the books
book_inventory = book_soup.find_all("p", class_="instock availability")
availability = [inventory.text.strip() for inventory in book_inventory]

In [137]:
# Creating a DataFrame
book_info_df = pd.DataFrame([title, image_links, cost, availability]).T

# Creating column names
book_info_df.columns = ["title", "image_link", "cost", "availability"]

book_info_df

,title,image_link,cost,availability
0,A Light in the Attic,media/cache/2c/da/2cdad67c44b002e7ead0cc35693c...,£51.77,In stock
1,Tipping the Velvet,media/cache/26/0c/260c6ae16bce31c8f8c95daddd9f...,£53.74,In stock
2,Soumission,media/cache/3e/ef/3eef99c9d9adef34639f51066202...,£50.10,In stock
3,Sharp Objects,media/cache/32/51/3251cf3a3412f53f339e42cac213...,£47.82,In stock
4,Sapiens: A Brief History of Humankind,media/cache/be/a5/bea5697f2534a2f86a3ef27b5a8c...,£54.23,In stock
5,The Requiem Red,media/cache/68/33/68339b4c9bc034267e1da611ab3b...,£22.65,In stock
6,The Dirty Little Secrets of Getting Your Dream...,media/cache/92/27/92274a95b7c251fea59a2b8a7827...,£33.34,In stock
7,The Coming Woman: A Novel Based on the Life of...,media/cache/3d/54/3d54940e57e662c4dd1f3ff00c78...,£17.93,In stock
8,The Boys in the Boat: Nine Americans and Their...,media/cache/66/88/66883b91f6804b2323c8369331cb...,£22.60,In stock
9,The Black Maria,media/cache/58/46/5846057e28022268153beff6d352...,£52.15,In stock
10,"Starving Hearts (Triangular Trade Trilogy, #1)",media/cache/be/f4/bef44da28c98f905a3ebec0b87be...,£13.99,In stock
11,Shakespeare's Sonnets,media/cache/10/48/1048f63d3b5061cd2f424d20b3f9...,£20.66,In stock
12,Set Me Free,media/cache/5b/88/5b88c52633f53cacf162c15f4f82...,£17.46,In stock
13,Scott Pilgrim's Precious Little Life (Scott Pi...,media/cache/94/b1/94b1b8b244bce9677c2f29ccc890...,£52.29,In stock
14,Rip it Up and Start Again,media/cache/81/c4/81c4a973364e17d01f217e118825...,£35.02,In stock
15,Our Band Could Be Your Life: Scenes from the A...,media/cache/54/60/54607fe8945897cdcced0044103b...,£57.25,In stock
16,Olio,media/cache/55/33/553310a7162dfbc2c6d19a84da0d...,£23.88,In stock
17,Mesaerion: The Best Science Fiction Stories 18...,media/cache/09/a3/09a3aef48557576e1a85ba7efea8...,£37.59,In stock
18,Libertarianism for Beginners,media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52736...,£51.33,In stock
19,It's Only the Himalayas,media/cache/27/a5/27a53d0bb95bdd88288eaf66c923...,£45.17,In stock

## Section 4: NoSQL (10 Minutes)

#### Load data from `assets/grades.json` into Mongo 

(this code is written for you)

In [95]:
# you shouldn't need to edit this cell!
db_name = "mod2db"

with open('grades-Copy1.jsonl') as f:
    # loads() comes from the bson library
    file_data = [loads(line) for line in f.readlines()]

client = pymongo.MongoClient("mongodb://localhost:27017/")
client.drop_database(db_name)
db = client[db_name]
coll = db["testcoll"]

coll.insert_many(file_data)

#### Answer all of the following questions by querying Mongo and manipulating the results in Python

1. How many records are there total?

In [96]:
# Set `nosql_answer1` to your final answer
nosql_answer1 = coll.count_documents(filter = {})
nosql_answer1

280

2. How many students have taken the class with `class_id` = **29**?

In [97]:
# Set `nosql_answer2` to your final answer
nosql_answer2 = coll.count(filter = {"class_id": 29})
nosql_answer2

<ipython-input-97-697ea6239bad>:2: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  nosql_answer2 = coll.count(filter = {"class_id": 29})

9

**Super bonus question**: </br>For student **12** in class **23**, what grade did they get on their exam?

In [99]:
# Set `nosql_answer3` to your final answer
nosql_answer3 = coll.find_one(filter = {'class_id': 23, 'student_id': 12})['scores']
nosql_answer3[0]['score']

26.9857216299485

In [ ]:
# for when you're done with this portion, this deletes the data we added.
client.drop_database("mod2db")

## Assessment submission (2 Minutes)
Please save your completed file as `mod2_assessment_<your_name>.ipynb` and upload it using [this form](https://forms.gle/pE94vYskYrrAzEY88)