# Welcome to SQL and API JEOPARDY

<img width=500, src="jeopardy.gif">

# SQL Setup

For the SQL questions you will be using the **Pets** database.  You may answer these questions using sqlite in this notebook or in a GUI of your choice.  The below cells will set up your connection to the database.

In [39]:
import sqlite3
import pandas as pd

#connecting to the sql server
con = sqlite3.connect('pets.db')
cursor = con.cursor()

In [2]:
#examine all tables in the database
cursor.execute("""SELECT name FROM sqlite_master WHERE type='table';""")
print(cursor.fetchall())

[('ProceduresHistory',), ('ProceduresDetails',), ('Pets',), ('Owners',)]

In [41]:
cursor.execute("""SELECT * FROM Pets; """)
[print(x[0] for x in cursor.description)]
pd.DataFrame(cursor.fetchall())

<generator object <genexpr> at 0x11cfecf90>

          0        1       2       3   4     5
0   J6-8562  Blackie     Dog    male  11  5168
1   Q0-2001   Roomba     Cat    male   9  5508
2   M0-2904    Simba     Cat    male   1  3086
3   R3-7551   Keller  Parrot  female   2  7908
4   P2-7342  Cuddles     Dog    male  13  4378
..      ...      ...     ...     ...  ..   ...
95  U8-6473  Biscuit     Dog  female   3  1070
96  I5-4893   Cookie     Cat  female   3  7340
97  Q8-0954  Lakshmi     Cat  female   7  9385
98  N0-9539  Swiffer     Cat    male  14  9365
99  S5-5938      Taz     Dog    male   6  9427

[100 rows x 6 columns]

# API Setup

For the API questions we will be using the **SPACEX API**.  You can find additional information about this API [here](https://github.com/r-spacex/SpaceX-API).  The below code will set you up with the response from the API.

In [6]:
import requests
import json

In [37]:
import requests

#saving the response from the API
response = requests.get("https://api.spacexdata.com/v3/launches")

print(response.status_code)
print(response.headers["server"])

200
cloudflare

In [22]:
response.json()[21]["rocket"]["rocket_name"] # Looking up the name of the rocket in the 21st column

'Falcon 9'

In [31]:
response.json()[0].keys()

dict_keys(['flight_number', 'mission_name', 'mission_id', 'upcoming', 'launch_year', 'launch_date_unix', 'launch_date_utc', 'launch_date_local', 'is_tentative', 'tentative_max_precision', 'tbd', 'launch_window', 'rocket', 'ships', 'telemetry', 'launch_site', 'launch_success', 'launch_failure_details', 'links', 'details', 'static_fire_date_utc', 'static_fire_date_unix', 'timeline', 'crew'])

In [33]:
response.json()[2]["mission_name"]

'Trailblazer'